@model Image.Models.uploadimage

@{
    ViewBag.Title = "Uploadimage";
}

<h2>Uploadimage</h2>


<div class ="bod">
        <div class="row">
            <div class="column">
                <img src="~/Content/download2.jpg" height="100" width="100" />
                <img src="~/Content/download3.jpg" height="100" width="100" />
            </div>

            <div class="column1">
                <img src="~/Content/download4.jpg" height="100" width="100" />
                <img src="~/Content/download5.jpg" height="100" width="100" />
            </div>
            <div class="desc">Add a description of the image here</div>

        </div>
    </div>

